.pointer {
	cursor: pointer;
}

/* LOADING */
.loadingPage {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: grid;
	place-content: center center;
	z-index: 100;
	background-color: #191c3590;
}
.loading {
	transform: translate(-50%, -50%);
	display: flex;
	align-items: center;
}
.loadingObj {
	height: 70px;
	width: 10px;
	background: #2fc4b2;
	margin: 0 3px;
	border-radius: 3px;
	animation: loading 0.8s infinite;
}
.loadingObj:nth-child(2) {
	animation-delay: 0.1s;
}
.loadingObj:nth-child(3) {
	animation-delay: 0.2s;
}
.loadingObj:nth-child(4) {
	animation-delay: 0.3s;
}
.loadingObj:nth-child(5) {
	animation-delay: 0.4s;
}
.loadingObj:nth-child(6) {
	animation-delay: 0.5s;
}
.loadingObj:nth-child(7) {
	animation-delay: 0.6s;
}
.loadingObj:nth-child(8) {
	animation-delay: 0.7s;
}
.loadingObj:nth-child(9) {
	animation-delay: 0.8s;
}
.loadingObj:nth-child(10) {
	animation-delay: 0.9s;
}

@keyframes loading {
	0% {
		height: 0;
	}
	50% {
		height: 70px;
	}
	100% {
		height: 0;
	}
}

/* PROGRESS BAR */
.progressContainer {
	position: relative;
	height: 400px;
	width: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	clear: both;
}
.onprogress {
	position: relative;
	height: 100%;
	width: 100%;
}
circle.progressCircle {
	width: 100%;
	height: 100%;
	fill: none;
	stroke: #c9f8e382;
	stroke-width: 25;
	transform: translate(5px, 5px);
	stroke-dasharray: 629;
}
.progressCircle:nth-child(1) {
	stroke-dashoffset: 0;
}
.progressCircle:nth-child(2) {
	stroke-linecap: round;
	stroke: #2fc4b2;
}
.progressObjContainer {
	position: relative;
	left: 56%;
	top: 50%;
}
.progressText {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	color: #999;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 50px;
}
.progressObj {
	position: absolute;
	font-size: 40px;
	color: white;
	animation: loading 0.8s infinite;
	text-emphasis: bold;
}

.progressObj:nth-child(2) {
	left: 10%;
	animation-delay: 0.1s;
}
.progressObj:nth-child(3) {
	left: 20%;
	animation-delay: 0.2s;
}
.progressObj:nth-child(4) {
	left: 30%;
	animation-delay: 0.3s;
}
.progressObj:nth-child(5) {
	left: 40%;
	animation-delay: 0.4s;
}
.progressObj:nth-child(6) {
	left: 50%;
	animation-delay: 0.5s;
}
.progressObj:nth-child(7) {
	left: 60%;
	animation-delay: 0.6s;
}
.progressObj:nth-child(8) {
	left: 70%;
	animation-delay: 0.7s;
}
.progressObj:nth-child(9) {
	left: 80%;
	animation-delay: 0.8s;
}

/* SLIDER */

.showBox {
	width: 100%;
	height: 400px;
	margin: auto auto 20px auto;
}
div.slideBox {
	width: 200px;
	height: 400px;
	padding: 10px;
}
img.slider {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	object-fit: cover;
	cursor: pointer;
}

/* ///////////// */
/*      IMG      */
/* ///////////// */
.image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* ///////////// */
/* MODAL LANDING */
/* ///////////// */

.modalBackground {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: grid;
	place-content: center center;
	background-color: rgba(0, 0, 0, 0.174);
}
.landingPop {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: grid;
	place-content: center center;
	z-index: 1;
}
.modalContainer {
	width: 416px;
	border-radius: 10px;
	background-color: white;
	box-sizing: border-box;
	padding-bottom: 7.5%;
	padding-top: 7.5%;
	position: relative;
	border: 1px #2fc4b2 solid;
	z-index: 1;
}
.modalTitle {
	font-size: 36px;
	color: #2fc4b2;
	margin-bottom: 20px;
	padding-left: 7%;
}
.formContainer {
	text-align: center;
	width: 85%;
	margin: auto;
}
div.modalInput input.input {
	margin-bottom: 12px;
	font-size: 18px;
}
div.modalInput button.button {
	margin-bottom: 10px;
	margin-top: 13px;
	font-size: 18px;
}
.modalCloser {
	position: absolute;
	top: -2%;
	right: -2%;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #2fc4b2;
	display: grid;
	place-content: center center;
	border: 2px whitesmoke solid;
	box-sizing: border-box;
}

/* ///////////// */
/*     POP UP    */
/* ///////////// */

.popUpPage {
	position: fixed;
	z-index: 2;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: grid;
	place-content: center center;
}
.popUpContainer {
	width: 742px;
	height: auto;
	box-sizing: border-box;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 40px;
	padding-right: 40px;
	border: 1px #2fc4b2 solid;
	text-align: center;
	font-size: 14px;
	background-color: white;
	position: relative;
	border-radius: 10px;
}
.popUpCloser {
	position: absolute;
	top: -15%;
	right: -2%;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #2fc4b2;
	display: grid;
	place-content: center center;
	border: 2px whitesmoke solid;
	box-sizing: border-box;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

/* -----------------------------------------------------------uji coba---------------------------------------------------------------- */

.ujiMain {
	display: flex;
	flex-direction: column;
	width: 100%;
}
